<%- include('header')%>
        <!-- Start breadcumb Area -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb text-center">
                            <div class="section-headline white-headline">
                                <h3>Giới thiệu</h3>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Home</li>
                                <li>Giới thiệu</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End breadcumb Area -->
        <!-- about-area start -->
        <div class="about-area page-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-image">
                            <img src="img/about/pic1.jpg" alt="">
                        </div>
                    </div>
                    <!-- column end -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-content">
                            <h3> Lịch sử hình thành và phát triển</h3>
                            <p>Thành phố Hồ Chí Minh với số lượng sinh viên hiện đang học tập tại các trường đại học, cao đẳng và trung cấp chiếm tỉ số rất đông trong cả nước kèm theo đó là nhu cầu của sinh viên ngày càng tăng cùng với xu hướng học tập ngày càng phát triển. Nắm bắt và hiểu được nhu cầu thiết thực của sinh viên, đề cao vai trò của sinh viên, sinh viên là lực lượng đông đảo trong xã hội, là nguồn lực tri thức hàng đầu của đất nước mai sau. Quan tâm và đáp ứng nhu cầu cũng như nguyện vọng chính đáng của sinh viên là việc làm hết sức đúng đắn và có ý nghĩa góp phần bồi dưỡng, xây dựng nguồn lực chất lượng cao để phục vụ đất nước trong tương lai. Ngoài nhiệm vụ học tập và nghiên cứu khoa học thì sinh viên còn có nhu cầu tham gia các hoạt động vui chơi và giải trí lành mạnh. Thế nên Nhà Văn hóa Sinh viên đã và được thành lập để phục vụ và thực hiện những chức năng của mình.

<br>Ngày 17/10/2002, Nhà Văn hóa Sinh viên được thành lập theo quyết định số 4246/QĐ – UB của Uỷ ban Nhân dân Thành phố Hồ Chí Minh. Thời gian đầu thành lập từ năm 2002 đến 2005, Nhà Văn hóa Sinh viên chưa có trụ sở riêng. Đến ngày 09/2/2006 Nhà Văn hóa Sinh viên khánh thành trụ sở riêng tại số 643 Điện Biên Phủ, Phường 1, Quận 3, TP. Hồ Chí Minh.

</p>
                        </div>
                    </div>
                    <!-- column end -->
                </div>
            </div>
        </div>
        <!-- about-area end -->
        <!-- Start About Area -->
        <div class="about-feature-area bg-color area-padding-2">
            <div class="container">
                <!-- end Row -->
                <h3 style="text-align: center;">Quy chế hoạt động của Nhà Văn hóa Sinh viên Thành phố Hồ Chí Minh</h3>
                <div class="row">
                    <div class="about-mission">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="mission-about">
                                <div class="mission-icon">
                                    <i class="flaticon-004-bar-chart"></i>
                                </div>
                                <div class="mission-text">
                                    <h4>Một là,</h4>
                                    <p>tổ chức tuyên truyền các chủ trương của Đảng và Nhà nước, tổ chức thực hiện Nghị quyết của Ban Chấp hành Thành Đoàn, Hội Sinh viên Việt Nam Thành phố Hồ Chí Minh, thường xuyên tổ chức các hoạt động giáo dục truyền thống, đạo đức lối sống cho học sinh, sinh viên.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="mission-about">
                                <div class="mission-icon">
                                    <i class="flaticon-031-release"></i>
                                </div>
                                <div class="mission-text">
                                    <h4>Hai là,</h4>
                                    <p> tổ chức các hoạt động văn hóa, thể dục thể thao, vui chơi bổ ích, đáp ứng nhu cầu sở thích của học sinh, sinh viên qua đó góp phần nâng cao đời sống văn hóa tinh thần, rèn luyện nâng cao thể lực, định hướng đạo đức, lối sống cho học sinh, sinh viên; thể nghiệm các loại hình mới, hình thành, phát triển và mở rộng các Câu lạc bộ – Đội – Nhóm theo chức năng Nhà Văn hóa Sinh viên.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Start column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="mission-about">
                                <div class="mission-icon">
                                    <i class="flaticon-023-management"></i>
                                </div>
                                <div class="mission-text">
                                    <h4>Ba là,</h4>
                                    <p>tổ chức các hoạt động khơi dậy tiềm năng sáng tạo khoa học, kỹ thuật trong học sinh, sinh viên.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-12">
                            <div class="mission-about">
                                <div class="mission-icon">
                                    <i class="flaticon-023-management"></i>
                                </div>
                                <div class="mission-text">
                                    <h4>Bốn là,</h4>
                                    <p>đẩy mạnh hoạt động giao lưu, đoàn kết hữu nghị giữa học sinh, sinh viên trong nước và quốc tế.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-12">
                            <div class="mission-about">
                                <div class="mission-icon">
                                    <i class="flaticon-023-management"></i>
                                </div>
                                <div class="mission-text">
                                    <h4>Năm là,</h4>
                                    <p>nghiên cứu và tham mưu cho Ban Thường vụ Thành Đoàn những dự báo nhu cầu đời sống văn hóa tinh thần của học sinh, sinh viên.</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <!-- End About Area -->
        
        <%- include('footer')%>