 <!--header-->
 <%- include('header')%>
 <div class="slide-area fix" data-stellar-background-ratio="0.6">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Start Slider content -->
                        <div class="slide-content text-center">
                            <h2 class="title2">NHÀ VĂN HÓA SINH VIÊN THÀNH PHỐ HỒ CHÍ MINH</h2>
                            <h3 class="title3">The Student Culture House In Ho Chi Minh City</h3>
                            <div class="layer-1-3">
                                <a href="/3D" class="ready-btn left-btn" >Xem 3D</a>
                                <div class="video-content">
                                    <a href="https://www.youtube.com/embed/NbueLcZQOo0" class="video-play vid-zone">
                                        <i class="fa fa-play"></i>
                                        <span>Xem video</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Slider content -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Start -->
<%- include('footer')%>